<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Influencer Ads!</title>
    <style>
        /* Styling for the ad container */
    </style>
 
<ins data-revive-zoneid="1" data-revive-id="8f2761a3d82ab0986c135d1847514b19"></ins>
<script async src="//adserver.102.212.245.67.nip.io/www/delivery/asyncjs.php"></script>

<script src="http://127.0.0.1:8000/static/ads.js"></script> 

</head>
<body>
    <!-- Ad container -->
    <div class="ad-container" id="ad-container" style="position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: rgb(100, 153, 140);
        border: 1px solid #ccc;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        padding: 10px;
        display: none;
        z-index: 9999;
        "
        >
    </div>
    <h3>Testing Ads</h3>

    <script>
        // Array to store the fetched ads
        //displayAds()
        
        showAd()
        hideAd()
        shuffleAds()
        fetchAds()

        //fetchAds();
    </script>
</body>
</html>
